# Node.js
node_modules/
prisma/
dist/
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
.DS_Store

# Miscellaneous
*.swp
*.swo